.container{
    background-color: black;
 
    &hover{
        background-color: white;
    }

    &after{
        background-color: aquamarine;
    }
}


@mixin name {
    background-color: aqua;    
}
